block content
  h1= title
  p Welcome to #{title}
  h2 Mahesh #{title}
  h3 hey #{4+4}
  form(action='users', method='GET')
    input(name='name',type='text',required, placeholder='Enter name')
    button(type='submit') Submit Now  
